@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    line-height: 1.5;
    font-family: 'Azeret Mono','Noto Sans TC','sans-serif',monospace;
  }
}

@layer utilities{
  .mygradient{
    background-image: linear-gradient(180deg, #09ACF5,#62DB54);
  }
}